/* 초기화 */
body,
h1,
h2,
p,
ul,
input {
    margin: 0;
    padding: 0;
    border: 0;
}
/* body 스타일 설정 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.03);
}

/* header 스타일 설정 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
}

.header h1 a {
    color: black;
    text-decoration: none;
}

.btn-header a {
    padding: 0px 15px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

/* footer 스타일 설정 */
.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 80px;
}

/* main요소 스타일 설정 */
.main {
    background: url("https://images.unsplash.com/photo-1509205477838-a534e43a849f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=578&q=80")
        center/cover no-repeat;
    border-radius: 20px;
    margin-top: 40px;
    min-height: 800px;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main h2 {
    font-size: 30px;
    color: white;
}

.main p {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.main h2,
.main p {
    margin-top: 20px;
    position: relative;
    z-index: 100;
    padding-bottom: 20px;
    text-shadow: 3px 6px 5px rgb(228, 224, 224);
}

/* index.html, cat.html, dog.html html 코드 구성이 동일하나 클래스만 달라서 함께 표현. */
.maincat h2,
.maindog h2 {
    margin-top: 20px;
    position: relative;
    z-index: 100;
    padding-bottom: 20px;
    text-shadow: 3px 6px 5px rgb(19, 19, 19);
}

.maincat p,
.maindog p {
    position: relative;
    z-index: 100;
    padding-bottom: 10px;
    text-shadow: 3px 6px 5px rgb(19, 19, 19);
}

.maincat form,
.maindog form {
    font-weight: bold;
    font-size: 17px;
    position: relative;
    z-index: 100;
    color: white;
    padding-bottom: 10px;
    text-shadow: 3px 6px 5px rgb(211, 211, 211);
}

.main button,
.maincat button,
.maindog button,
.maincat input,
.maindog input {
    position: relative;
    z-index: 100;
}

/* 가상 요소 사용으로 이미지만 어둡게 만듬. */
.maindog::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 20px;
}

.main::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 20px;
}

.maincat::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 20px;
}
/* //index.html, cat.html, dog.html html */

/* main요소에서 maincat 스타일 구현 */
.maincat {
    background: url("https://images.unsplash.com/photo-1598188306155-25e400eb5078?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80")
        center/cover no-repeat;
    border-radius: 20px;
    margin-top: 40px;
    min-height: 800px;
    height: 100%;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

/* main요소에서 maindog 스타일 구현 */
.maindog {
    background: url("https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fCVFQSVCMCU5NSVFQyU5NSU4NCVFQyVBNyU4MHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60")
        center/cover no-repeat;
    border-radius: 20px;
    margin-top: 40px;
    min-height: 800px;
    height: 100%;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.main-text {
    z-index: 100;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
}
.main_img {
    border-style: none;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* 메인 부분에서 검색 및 카테고리 스타일 */
.form_sel {
    margin-top: 200px;
    flex-wrap: wrap;
    z-index: 1;
}

#question {
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.795);
    font-size: 20px;
    color: black;
    max-width: 600px;
    width: 100%;
    height: 70px;
    margin-top: 20px;
}

.age {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    /* margin-bottom: 20px; */
}

input {
    flex-grow: 1;
    /* width: 600px; */
    max-width: 600px;
    border-radius: 15px;
    /* height: 70px; */
}

/* main 부분에서 버튼 스타일 */
button {
    width: 300px;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(66, 88, 66, 0.805);
    color: white;
    transition: all 0.9s, color 0.3;
    margin-top: 150px;
}
.logout {
    width: 100px;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(66, 88, 66, 0.805);
    color: white;
    transition: all 0.9s, color 0.3;
}
.loginbox{
    display: flex;
    padding-left: 10px;
}
.login {
    margin-right: 10px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
    width: 100px;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(66, 88, 66, 0.805);
    color: white;
    transition: all 0.9s, color 0.3;
}
button:hover, .login:hover {
    box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.2) inset;
}

@media (max-width: 400px) {
    button {
        width: 200px;
    }
    .headerbtn {
        display: flex;
    }
}

/* radiobutton hover */
.age :hover {
    font-size: 20px;
    color: wheat;
}
.guide :hover {
    font-size: 20px;
    color: wheat;
}
